@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --blue-11: #0d74ce;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  button {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2;
  }
  input,
  select {
    @apply bg-gray-50 border outline-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full py-2 px-2.5;
  }
}

@layer components {
  input.input-unset {
    all: unset;
  }
}

.less-visible {
  opacity: 80%;
}

input[type="number"].input-no-arrow::-webkit-inner-spin-button,
input[type="number"].input-no-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input.custom-input-slider {
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  opacity: 1;
  pointer-events: auto;
  border: none;
  outline: none;
  border-color: transparent !important;
  /* padding: 0; */
  padding-left: 5px;
  padding-right: 5px;
}
input.custom-input-slider::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  margin-top: -1px;
  appearance: none;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(37, 99, 235, 1);

  border-radius: 9999px;
  transition: all 150ms ease-in-out;
}

input.custom-input-slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  appearance: none;
  background-color: #fff;
  /* border: 4px solid #3b82f6; */

  border-radius: 9999px;
  transition: all 150ms ease-in-out;
}

input.custom-input-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background-color: #f3f4f6;
  border-radius: 9999px;
}

input.custom-input-slider::-moz-range-track {
  width: 100%;
  height: 2px;
  background-color: #f3f4f6;
  border-radius: 9999px;
}

canvas {
  font-smooth: never;
  -webkit-font-smoothing: none;
}
